
<div>



    <div class="lucky_bar_static_offset">
        <label><input type="checkbox" ng-model="luckyCtrl.checkSelectedBars[luckyBarIndex]">  </label>
        <input ng-model="luckySliderOffset" style="width:35px">
    </div>


    <div class="lucky_bar_static_range" title="{{luckyBarRangeValue}} per slot">
        {{luckyBarRangeValue}}
    </div>

    <div class="lucky_bar">

        <div class="lucky_slider" id="{{luckySliderId}}">
            <!--<img src="drawing.svg" />-->
        </div>
    </div>
</div>

