<!--

-->

<div>
    <input type="text" ng-model="luckyCtrl.luckyBarsSameOffset"
           arrow-pressed-directive="getkeySluckyBarsSameOffset($direction)">

    |

    <label><input type="checkbox" ng-model="luckyCtrl.luckyBarsInverseOdd"> Inverse odd</label>
    <label><input type="checkbox" ng-model="luckyCtrl.luckyBarsInverseEven">Inverse even</label>
</div>

<div class="lucky_bars_container">
    <div ng-repeat="n in luckyCtrl.luckyBinchBarsOffsets track by $index"
         arrow-pressed-directive="changeOffSets($direction,$index)"
         lucky-directive="{{$index}}" lucky-directive-inverse="{{luckyCtrl.getInverseBarsConfig()}}"
         ng-model="luckyCtrl.luckyBinchBarsOffsets[$index]"
         id="{{luckyBarId}}">
    </div>
</div>

<input ng-init="" id="mainCheckbox" type="checkbox" name="all" ng-model="isAllBarsToggled"
       ng-change="luckyCtrl.onAllBarsToggled(isAllBarsToggled)"><span class="mainCheckbox_1">all</span>


<br/>

<span style="width:50px; display:inline-block;">{{'Max' | translate}}: </span>
<input type="text" readonly value="115792089237316195423570985008687907852837564279074904382605163141518161494337"
       style="width:790px; text-align: right; outline:none; font-size:14px; font-family:monospace; color: lightgray;">
<br/>

<span style="width:50px; display:inline-block;">{{'Key' | translate}}</span>
<input type="text" only-digits-directive="" arrow-pressed-directive="getkeys($direction)"
       ng-model="luckyCtrl.luckyBarSumValue"
       style="width:790px; text-align: right; outline:none; font-size:14px; font-family:monospace;">

<button ng-click="luckyCtrl.onGenerateMinClick()">{{'Min' | translate}}</button>
<button ng-click="luckyCtrl.onGenerateMaxClick()">{{'Max' | translate}}</button>

<br/>

<ng-include src=" 'templates/outputsTemplate.html' "></ng-include>

<br/>

<div class="key_gen" ng-controller="generationTabsController as tabsCtrl">


    <button ng-click="tabsCtrl.selectedGenerationTemplate='KNOWN_TEMPLATE'">Known</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='RANDOM_TEMPLATE'">Random</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='KEY_CONVERSION_TEMPLATE'">Convert</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='SEQUENCE_GENERATOR_TEMPLATE'">Sequence</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='NUMBER_TRIMMER_TEMPLATE'">Trimmer</button>
    <!--<button ng-click="tabsCtrl.selectedGenerationTemplate='PRIME_TEMPLATE'">Prime</button>-->
    <button ng-click="tabsCtrl.selectedGenerationTemplate='DUMMY_KEYS_TEMPLATE'">Dummy</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='CONTROL_LODASH_KEYS'">Found</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='DIGITS_GENERATOR_TEMPLATE'">Digit by Digit</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='HISTOGRAMM_TEMPLATE'">Histogram</button>
    <button ng-click="tabsCtrl.selectedGenerationTemplate='BLOCK_FOR_CALCULATOR'">Calc</button>

    <div ng-switch="tabsCtrl.selectedGenerationTemplate">

        <div ng-switch-when="KNOWN_TEMPLATE">
            <ng-include src=" 'templates/blocks/knownTemplate.html' "></ng-include>
        </div>

        <div ng-switch-when="RANDOM_TEMPLATE">
            <ng-include src=" 'templates/blocks/randomTemplate.html' "></ng-include>
        </div>

        <div ng-switch-when="KEY_CONVERSION_TEMPLATE">
            <ng-include src=" 'templates/blocks/keyConversionTemplate.html' "></ng-include>
        </div>

        <div ng-switch-when="SEQUENCE_GENERATOR_TEMPLATE">
            <ng-include src=" 'templates/blocks/sequenceGeneratorTemplate.html' "></ng-include>
        </div>

        <div ng-switch-when="NUMBER_TRIMMER_TEMPLATE">
            <ng-include src=" 'templates/blocks/numberTrimmerTemplate.html' "></ng-include>
        </div>

        <!-- <div ng-switch-when="PRIME_TEMPLATE">
           <ng-include src=" 'templates/blocks/primeTemplate.html' "></ng-include>
        </div>-->

        <div ng-switch-when="DUMMY_KEYS_TEMPLATE">
            <ng-include src=" 'templates/blocks/dummyKeysTemplate.html' "></ng-include>
        </div>

        <div ng-switch-when="CONTROL_LODASH_KEYS">
            <ng-include src=" 'templates/blocks/controlLodashKeys.html' "></ng-include>
        </div>

        <div ng-switch-when="DIGITS_GENERATOR_TEMPLATE">
            <ng-include src=" 'templates/blocks/digitsGeneratorTemplate.html' "></ng-include>
        </div>

        <div ng-switch-when="HISTOGRAMM_TEMPLATE">
            nothing..
        </div>

        <div ng-switch-when="BLOCK_FOR_CALCULATOR">
            <ng-include src=" 'templates/blocks/blockForCalculator.html' "></ng-include>
        </div>
    </div>

</div>

</br>

