
<hr />

<div ng-controller="knownKeyController as knownCtrl">

    <button ng-click="knownCtrl.luckyKnownFormToggled=!knownCtrl.luckyKnownFormToggled">Known</button>

    <span ng-if="knownCtrl.luckyKnownFormToggled">

        {{'Known' | translate}}({{numberOfKeys}}):
        <select id="myselect" ng-model="selectedKnownKey" ng-change="selectedKnownKeyChanged(selectedKnownKey.knownKeyDecimal)" ng-options="x.knownKeyDecimal for x in listOfKnownKeys"></select>

        <br />

    </span>
</div>

