<!--

-->

<div ng-controller="luckyController as luckyCtrl">

    <div style="position: fixed; top: 0%; right: 0;">
        <button ng-click="changeLanguage('en')">English</button>
        <button ng-click="changeLanguage('ua')">Українська</button>
    </div>

    {{'totCheck' | translate}}: {{luckyCtrl.luckyCtrlPma.luckyTotalGeneratedKeys}}

    <hr />


    <div class="lucky_bars_container">
        <div ng-repeat="n in luckyCtrl.luckyBinchBarsOffsets track by $index" ng-keydown="changeOffSets($event,$index)"
             lucky-directive="{{$index}}" ng-model="luckyCtrl.luckyBinchBarsOffsets[$index]"
             id="{{luckyBarId}}">
        </div>
    </div>


    <hr/>

    <button ng-click="luckyCtrl.onGenerateMinClick()">{{'Min' | translate}} </button>
    <button ng-click="luckyCtrl.onGenerateMaxClick()">{{'Max' | translate}} </button>

    |

    <button ng-click="luckyCtrl.onGenerateRandomClick()">{{'Random' | translate}}</button>
    <button ng-click="luckyCtrl.onStartRandomBatchClick()" ng-switch="luckyCtrl.luckyCtrlPma.luckyBatchGenerationInterval==null">
        <span ng-switch-when="true">{{'Start' | translate}}</span>
        <span ng-switch-when="false">{{'Stop' | translate}}</span>
    </button>

    |

    {{'Known' | translate}}:
    <select id="myselect" ng-model="selectedMagicKeys" ng-options=" x.knownKeyDecimal for x in listOfMagicKeys "></select>

    |

    <button ng-click="luckyCtrl.onOpenListOfKeysClick()">{{'Keys' | translate}}</button>

    <br/>
    <br/>

    <span style="width:50px; display:inline-block;">{{'Max' | translate}}: </span>
    <input type="text" ng-keydown="getkeys($event)" value="115792089237316195423570985008687907852837564279074904382605163141518161494337" style="width:900px; outline:none; font-size:14px; font-family:Arial, sans-serif;">
    <br />

    <span style="width:50px; display:inline-block;">{{'Key' | translate}}</span>

    <input type="text" ng-keydown="getkeys($event)" ng-model="luckyCtrl.luckyBarSumValue" style="width:900px; outline:none; font-size:14px; font-family:Arial, sans-serif;">



    <div ng-switch="luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress!=null">
        <div ng-switch-when="true">
            <span style="width:50px; display:inline-block;">WIF:</span> <span style="font-size:10pt; font-family:Arial, sans-serif;" id="idOfWIF"></span>  (<a target="_blank" ng-href="https://www.blockshack.com/wf/{{'...'}}">blockshack.com</a>)
            <br />
            <br />

            <span style="width:50px; display:inline-block;">{{'Addr' | translate}}:</span> <span style="font-size:10pt; font-family:Arial, sans-serif;">{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}</span>

            &nbsp;&nbsp;
            (<a target="_blank" ng-href="https://blockchain.info/address/{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}">blockchain.info</a>
            &nbsp; | &nbsp;
            <a target="_blank" ng-href="https://bitaps.com/{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}">bitaps.com</a>)
        </div>
        <div ng-switch-when="false">
            Invalid address..
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
</div>