
<!--

-->

<div ng-switch="luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress!=null" style="height:65px">
    <div ng-switch-when="true">

        <div ng-if="luckyCtrl.luckyCtrlDerivedKeys.luckyKeyWasFound" style="color: red; text-decoration:solid; padding:5px;">
            Congratulations: key with <span style="text-decoration:underline">[{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddressBalance}} BTC]</span> is found!
        </div>

        <span style="width:50px; display:inline-block;">WIF:</span>
        <span style="font-size:10pt; font-family:Arial, sans-serif;">{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPrivateKeyAsWIF}}</span>
        <br />

        <span style="width:50px; display:inline-block;">{{'Addr' | translate}}:</span>
        <span style="font-size:10pt; font-family:Arial, sans-serif;">{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}</span>


        &nbsp;&nbsp;
        (<a target="_blank" ng-href="https://blockchain.info/address/{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}">blockchain.info</a>
        &nbsp; | &nbsp;
        <a target="_blank" ng-href="https://bitaps.com/{{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}">bitaps.com</a>)
    </div>
    <div ng-switch-when="false">
        Invalid address..
    </div>
</div>