

<hr />

<div ng-controller="sequenceGeneratorController as seqGenCtrl">

    <button ng-click="seqGenCtrl.luckySequenceGenFormToggled=!seqGenCtrl.luckySequenceGenFormToggled">Generate</button>

    <span ng-if="seqGenCtrl.luckySequenceGenFormToggled">

        <select ng-model="seqGenCtrl.generationSequenceRadix"
                ng-options="radix for radix in seqGenCtrl.allGenerationRadixes"></select>

        <input type="text"ng-model="seqGenCtrl.generationSequenceTemplate"
               ng-keypress=""
               ng-keyup="seqGenCtrl.onTemplateFieldKeyPressed($event)"
               only-hexa-digits-directive=""
               style="width:750px">

        <br />

        <label><input type="checkbox" ng-model="seqGenCtrl.generationSequenceOnKeyPress"> Generate on type</label>

        <select ng-model="seqGenCtrl.generationSequenceStrategy"
                ng-options="strategy for strategy in seqGenCtrl.allGenerationStrategies"></select>

        <button ng-click="seqGenCtrl.onGenerateNewSequence()">Generate</button>
        <button ng-click="seqGenCtrl.onGenerateNewSequenceAndTry()">Generate and try</button>
        <button ng-click="seqGenCtrl.onGenerateAndTryAllStrategies()">Try All strategies</button>
        <button ng-click="seqGenCtrl.onTryAllGeneratedSequence()" ng-if="seqGenCtrl.generatedKeysSequence.length">Try {{seqGenCtrl.generatedKeysSequence.length}} keys</button>

        <br />

        <select ng-if="seqGenCtrl.generatedKeysSequence.length" ng-model="seqGenCtrl.selectedGeneratedKey" style="width:700px"
                ng-options="generated for generated in seqGenCtrl.generatedKeysSequence"
                size="4">
        </select>

        <br />

    </span>
</div>

<hr />