<style>
    #myShowBlock button{border-radius: 7px; color: gray; background-color:aliceblue; height:20px; width:40px; font-size:14px; margin:5px}
    #myShowBlock input{border-radius: 5px; width:900px; text-align: left; outline:none; font-size:15px; font-family:monospace;}
</style>

<span ng-controller="blockForCalculatorController as calcCtrl">

    <div id="myShowBlock" class="key_controls_block">

        </br>

        <input type="text" only-digits-directive="" ng-model="calcCtrl.input_1" placeholder="number a">
        <br/>
        <button ng-click="calcCtrl.add('+')">+</button>
        <button ng-click="calcCtrl.subtraction('-')">-</button>
        <button ng-click="calcCtrl.multiplication('*')">*</button>
        <button ng-click="calcCtrl.division('/')">/</button>
        <button ng-click="calcCtrl.zeroing()">C</button>
        
        <button ng-click="calcCtrl.navigateHistoryBack()"><-</button>
        <button ng-click="calcCtrl.navigateHistoryForward()">-></button>

        </br>

        <input type="text" only-digits-directive="" ng-model="calcCtrl.input_2" placeholder="number b">
        </br>
        </br>
    </div>

</span>

