


<span ng-controller="keyConversionController as keyConvCtrl">

    <span class="key_controls_block">

        <hr />

        Convert:
        <br />

        <span style=" display:inline-block;">from WIF: </span>
        <input type="text" ng-keydown="keyConvCtrl.onParseProvidedWIFKeyByEnter($event, keyConvCtrl.luckyWIFKeyForConversion)" ng-model="keyConvCtrl.luckyWIFKeyForConversion"
               style="width:800px; outline:none; font-size:14px; font-family:Arial, sans-serif;">
        <button ng-click="keyConvCtrl.onParseProvidedWIFKey(keyConvCtrl.luckyWIFKeyForConversion)">Parse</button>

        <hr />

        <br />

        <span style=" display:inline-block;">from HEX: </span>
        <input type="text" ng-model="keyConvCtrl.luckyHEXKeyForConversion" style="width: 800px"
               only-hexa-digits-directive="" ng-keyup="keyConvCtrl.onParseProvidedHEXKey(keyConvCtrl.luckyHEXKeyForConversion)" style="width:500px; outline:none; font-size:14px; font-family:Arial, sans-serif;">
        <button ng-click="keyConvCtrl.onParseProvidedHEXKey(luckyHEXKeyForConversion)">Parse</button>

        <hr />

        <br />

        <span style=" display:inline-block;">from BIN: </span>
        <input type="text" ng-model="keyConvCtrl.luckyBINKeyForConversion" style="width: 800px"
               only-bin-directive="" ng-keyup="keyConvCtrl.onParseProvidedBINKey(keyConvCtrl.luckyBINKeyForConversion)" style="width:500px; outline:none; font-size:14px; font-family:Arial, sans-serif;">

        <hr />

        <br />

        <span style=" display:inline-block;">from OCT: </span>
        <input type="text" ng-model="keyConvCtrl.lucky8KeyForConversion" style="width: 800px"
               only-oct-directive="" ng-keyup="keyConvCtrl.onParseProvided8Key(keyConvCtrl.lucky8KeyForConversion)" style="width:500px; outline:none; font-size:14px; font-family:Arial, sans-serif;">
        <hr />

    </span>
</span>

