


<span ng-controller="primeKeyController as primeCtrl">

    <span class="key_controls_block">

        <hr />
        Prime:
        <br />

        <input type="text" only-digits-directive="" ng-model="primeCtrl.primeGenerationStartFrom">
        <button ng-click="onGeneratePrimeNumber()"> Prime</button>

        <button ng-click="onToggleGeneratingPrimeNumbers()" ng-switch="primeCtrl.luckyPrimeGenerationInterval==null">
            <span ng-switch-when="true">{{'Start' | translate}}</span>
            <span ng-switch-when="false">{{'Stop' | translate}}</span>
        </button>

        <hr />

    </span>
</span>

