
<span ng-controller="myFoundKeysListController as foundCtrl">

    <span ng-if="foundCtrl.foundkeysListFromLs.length">

        <br />
        <br />

        Found keys:

        <span ng-repeat="foundKey in foundCtrl.foundkeysListFromLs track by $index">
            <br/>

            <a href="javascript:void(0)" ng-click="foundCtrl.onFoundKeyPickedUp(foundKey)">{{foundKey}}</a> <a href="javascript:void(0)" ng-click="foundCtrl.onDelKeyPickedUp($index)"> del</a>
        </span>
    </span>

</span>
