

<style>
    .key_controls_block .carv_board_line {padding:0px; display: flex;}
    .key_controls_block .carv_board_line .carv_board_pixel {color: white; width: 20px; text-align: center; text-decoration:solid; font-size: 18px;  font-family: sans-serif; background-color:white; padding: 1px; margin: 1px;     border-radius: 5px;}
    .key_controls_block .carv_board_line .px_off{color: darkgrey; opacity: 0.3}
</style>

<span ng-controller="carvingController as carveCtrl">

    <span class="key_controls_block">

        <!-- -= {{carveCtrl.maxNumStrBin.length}}=- -->

        <select ng-model="carveCtrl.carvingLinesNumber">
            <option ng-value="{{8}}">8</option>
            <option ng-value="{{16}}">16</option>
            <option ng-value="{{32}}">32</option>
            <option ng-value="{{64}}">64</option>
            <option ng-value="{{128}}">128</option>
        </select>
        <br />

        <!--<span style="font-size: 5px">{{carveCtrl.maxNumStrBin}}</span>-->

        <div style="padding: 5px; background-color:#212">
            <div ng-repeat="line in carveCtrl.maxNumStrBinLines track by $index" class="carv_board_line">

                <div class="carv_board_pixel" style="background-color: gray" ng-mouseover="carveCtrl.onResetCarveBoardLine($index)">
                    _
                </div>

                <div ng-repeat="elem in line track by $index" class="carv_board_pixel"
                     ng-mouseover="carveCtrl.onResetCarveBoardElement($parent.$index, $index)"
                     ng-mousemove="carveCtrl.onResetCarveBoardElement($parent.$index, $index)"
                     ng-class="{'px_off':elem=='0'}">
                    {{elem}}
                </div>
            </div>
        </div>

        <br />
        -= {{carveCtrl.carvingToolUsingDigit}} =-
        <br />
        <button ng-click="carveCtrl.onResetCarvingBoard()">Reset</button>
        <label><input type="checkbox" ng-model="carveCtrl.watchForBinchChanges">watch binch</label>
        <label><input type="checkbox" ng-model="carveCtrl.keepingInProbableRange">keep probable</label>


    </span>
</span>

