
<div ng-controller="histogrammController as histoCtrl"  style="width:800px">

    <span>

        Histogram:
        <span ng-repeat="digitValue in histoCtrl.histogrammValues track by $index">
           [{{$index}}: {{digitValue}}]
        </span>

        <canvas id="pie33"
            chart-options="histoCtrl.histoChartOptions"
            class="chart chart-pie chart-xs ng-isolate-scope"
            height="70" width="70"
            chart-data="histoCtrl.histogrammValues"
            chart-labels="histoCtrl.histogrammLabels">
        </canvas>

    </span>

</div>

