<div ng-controller="histogrammController as histoCtrl" style="width:900px">


    <table>
        <tr>
            <td style="width:700px">
                <span ng-repeat="digitValue in histoCtrl.histogrammValues track by $index">
                   [{{$index}}: {{digitValue}}]
                </span>

                <canvas
                        chart-options="histoCtrl.histoChartOptions"
                        class="chart chart-pie chart-xs ng-isolate-scope"
                        height="70" width="70"
                        chart-data="histoCtrl.histogrammValues"
                        chart-labels="histoCtrl.histogrammLabels">
                </canvas>
            </td>
            <td>
                <span ng-repeat="digitValue in histoCtrl.histogrammValuesBin track by $index">
                   [{{$index}}: {{digitValue}}]
                </span>
                <canvas
                        chart-options="histoCtrl.histoChartOptionsBin"
                        class="chart chart-pie chart-xs ng-isolate-scope"
                        height="70" width="70"
                        chart-data="histoCtrl.histogrammValuesBin"
                        chart-labels="histoCtrl.histogrammLabelsBin">
                </canvas>
            </td>
        </tr>
    </table>
</div>

