


<span ng-controller="knownKeyController as knownCtrl">

    <span class="key_controls_block">

        <hr />
        Known ({{numberOfKeys}})
        <br />

        <br />
        <select id="myselect" size="20" ng-model="selectedKnownKey"
                ng-change="selectedKnownKeyChanged(selectedKnownKey.knownKeyDecimal)"
                ng-options="x.knownKeyDecimal for x in listOfKnownKeys"
                style="width: 800px; font-size: 12px"></select>

        <hr />

    </span>
</span>

