


<span ng-controller="randomGeneratorController as rndGenCtrl">

    <span class="key_controls_block">

        <hr />
        Random:
        <br />

        <button ng-click="rndGenCtrl.onGenerateRandomClick()">{{'Random' | translate}}</button>

        <button ng-click="rndGenCtrl.onStartRandomBatchClick()" ng-switch="rndGenCtrl.luckyBatchGenerationInterval==null">
            <span ng-switch-when="true">{{'Start' | translate}}</span>
            <span ng-switch-when="false">{{'Stop' | translate}}</span>
        </button>

        <hr />

    </span>
</span>

