<!--

-->

<div ng-controller="luckyController as luckyCtrl">

    Total checked: {{luckyCtrl.luckyCtrlPma.luckyTotalGeneratedKeys}}

    <hr />

    <input type="text" ng-keydown="getkeys($event)" ng-model="luckyCtrl.luckyProvidedExactValue">
    <button ng-click="luckyCtrl.onParseProvidedValueClick()">Parse</button>

    |

    <button ng-click="luckyCtrl.onGenerateMinClick()"> Min </button>
    <button ng-click="luckyCtrl.onGenerateMaxClick()"> Max </button>

    |

    <button ng-click="luckyCtrl.onGenerateRandomClick()"> Random</button>
    <button ng-click="luckyCtrl.onStartRandomBatchClick()" ng-switch="luckyCtrl.luckyCtrlPma.luckyBatchGenerationInterval==null">
        <span ng-switch-when="true">Start</span>
        <span ng-switch-when="false">Stop</span>
    </button>

    <div ng-repeat="n in luckyCtrl.luckyBarIndexes track by $index"
         lucky-directive="{{$index}}" ng-model="luckyCtrl.luckyBarOffsetValues[$index]"
         id="{{luckyBarId}}">
    </div>

    <hr/>

    Key: {{luckyCtrl.luckyBarSumValue}}
    <br />
    Address: {{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}

    <br/>
    <br/>
    <br/>
    <br/>

</div>