<!--

-->

<div ng-controller="luckyController as luckyCtrl">

    <div style="position: fixed; top: 0%; right: 0;">
        <button ng-click="changeLanguage('en')">English</button>
        <button ng-click="changeLanguage('ua')">Українська</button>
    </div>

    {{'totCheck' | translate}}: {{luckyCtrl.luckyCtrlPma.luckyTotalGeneratedKeys}}

    <hr />

    <input type="text" ng-keydown="getkeys($event)" ng-model="luckyCtrl.luckyProvidedExactValue">
    <button ng-click="luckyCtrl.onParseProvidedValueClick()">{{'Parse' | translate}}</button>

    |

    <button ng-click="luckyCtrl.onGenerateMinClick()">{{'Min' | translate}} </button>
    <button ng-click="luckyCtrl.onGenerateMaxClick()">{{'Max' | translate}} </button>

    |

    <button ng-click="luckyCtrl.onGenerateRandomClick()">{{'Random' | translate}}</button>
    <button ng-click="luckyCtrl.onStartRandomBatchClick()" ng-switch="luckyCtrl.luckyCtrlPma.luckyBatchGenerationInterval==null">
        <span ng-switch-when="true">{{'Start' | translate}}</span>
        <span ng-switch-when="false">{{'Stop' | translate}}</span>
    </button>

    <div ng-repeat="n in luckyCtrl.luckyBinchBarsOffsets track by $index"
         lucky-directive="{{$index}}" ng-model="luckyCtrl.luckyBinchBarsOffsets[$index]"
         id="{{luckyBarId}}">
    </div>

    <hr/>

    {{'Key' | translate}}: {{luckyCtrl.luckyBarSumValue}}
    <br />
    Address: {{luckyCtrl.luckyCtrlDerivedKeys.luckyKeyPublicAddress}}

    <br/>
    <br/>
    <br/>
    <br/>
</div>